<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Familia Linares Lavezzo</h1>

    <b>Nombre:</b> {{miembrofamilia_01.nombre}} - 
    {{miembrofamilia_01.edad}} años - 
    <b>Nacimiento:</b> {{miembrofamilia_01.nacimiento}} - 
    {{miembrofamilia_01.descripcion}}
    <br/><br/>
    <b>Nombre:</b> {{miembrofamilia_02.nombre}} - 
    {{miembrofamilia_02.edad}} años - 
    <b>Nacimiento:</b> {{miembrofamilia_02.nacimiento}} - 
    {{miembrofamilia_02.descripcion}}
    <br/><br/>
    <b>Nombre:</b> {{miembrofamilia_03.nombre}} - 
    {{miembrofamilia_03.edad}} años - 
    <b>Nacimiento:</b> {{miembrofamilia_03.nacimiento}} - 
    {{miembrofamilia_03.descripcion}}
    <br/><br/>
    <b>Nombre:</b> {{miembrofamilia_04.nombre}} - 
    {{miembrofamilia_04.edad}} años - 
    <b>Nacimiento:</b> {{miembrofamilia_04.nacimiento}} - 
    {{miembrofamilia_04.descripcion}}
</body>
</html>